<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule \.(ini)$ - [F,NC]
    RewriteRule cookie\.(txt)$ - [F,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>