@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic|Source+Code+Pro') (min-width: 768px);

body {
    padding: 0 10px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 767px) {
    code { font-family: 'Source Code Pro', sans-serif; }
    .label {
        font-weight: bold;
    }
    .progress-bar {
        font-weight: bold;
        font-size: 13px;
    }
}


.glyphicon::before {
    vertical-align: -10%;
}

.label-finished {
    color: #666;
    font-weight: 600;
    font-size: 75%;
    line-height: 2;
}

/*==========  Navbar  ==========*/
.navbar-brand {
    cursor: default;
}
.navbar-brand,
.navbar .nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
    .settings, .settings:focus {
        outline: 0;
        box-shadow: none;
        cursor: pointer;
    }

/*==========  Modal  ==========*/
.modal-header {
    padding: 4px 12px;

    border-radius: 6px 6px 0 0;
    background-color: #F9F9F9;
}
.modal-body {
    padding: 15px 20px 0;
}
    .modal-body h6 {
        display: inline-block;
        margin: 5px 0 3px;
        padding: 0px 5px;
        background-color: #EEE;
    }
    .modal-body label {
        margin: 0 7px;
        color: #777;
        font-weight: normal;
        font-size: 80%;
        cursor: pointer;
    }
        .modal-body label input {

        }
.modal-footer {
    padding: 8px;
}

label .help-block {
    line-height: 1.2;
}


/*==========  Misc  ==========*/

body > .container {
    max-width: 640px;
}

.label {
    white-space: normal;
}

div.page-header {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 5px;
    border-color: #CCC;
    background-color: #F0F0F0;
}

div.page-header + .page-content {
    padding: 0 10px;
}

h2, h3, h4 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 3.4rem;
}
    h2 small {
        font-size: 65%;
    }
    .panel-heading h2 small {
        color: rgba(0,0,0,0.4);
    }

.opacified {
    opacity: 0.5;
}

.opacified + small {
    font-size: 70%;
}

.manual_sub_search {
    display: none;
    visibility: hidden;
    margin: 0.6rem 0.3rem 0;
    color: #DDD;
    text-align: center;
}
.manual_sub_search.off { display: block; visibility: visible; }

.titleico {
    margin: 0 3px 0 7px;
    font-size: 80%;
    opacity: 0.35;
    -webkit-font-smoothing: antialiased;
}

.alert-noclose {
    padding-right: 14px;
}
.alert-info .nav > li > a:hover,
.alert-info .nav > li > a:focus {
    background-color: #F4FBFF;
}

.nav-header {
    padding: 3px 5px;
}
.nav > li > a {
    padding: 5px 10px;
}


/*==========  DOWNLOADS  ==========*/
.dl .remove {
    margin: -2px 0 0 5px;
    padding: 3px 5px 0 4px;
    border-radius: 2px;
    color: #b94a48;
}
.dl .remove:hover,
.dl .remove:active,
.dl .remove:focus {
    background-color: #b94a48;
    color: #FFF;
    text-decoration: none;
}

.dl .remove.finished,
h2 .remove.finished {
    border-radius: 2px;
    color: #5cb85c;
    text-decoration: none;
}
h2 .remove.finished {
    display: none;
    visibility: hidden;
    margin: 0.7rem 5px 0 0;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
h2 .remove.finished.active {
    display: block;
    visibility: visible;
}
.dl .remove.finished:hover,
.dl .remove.finished:active,
.dl .remove.finished:focus,
h2 .remove.finished:hover,
h2 .remove.finished:active,
h2 .remove.finished:focus {
    background-color: #5cb85c;
    color: #FFF;
}

.accordion-toggle {
    cursor: pointer;
}

#addDownloadSection .panel-title {
    line-height: 2rem;
    font-size: 13px;
}
#addDownloadSection .accordion-toggle {
    text-decoration: none;
    font-weight: bold;
}
#addDownloadForm .control-group:first-child {
    margin-top: 10px;
}
#addDownloadForm .control-group {
    padding: 0 10px;
}
    #addDownloadForm .form-actions {
        margin-bottom: 0;
    }

.guess {
    margin-bottom: 0;
    padding: 5px 5px 0 0;
    text-align: right;
    font-size: 90%;
}
    .guess.inactive {
        visibility: hidden;
    }

/*==========  FILES  ==========*/
    .putio.alert .nav > li > a:hover,
    .putio.alert .nav > li > a:focus {
        background-color: #fbeed5;
    }
.putio .putio_space {
    margin-top: 5px;
    border-top: 2px solid #EEE;
}
.putio .putio_space.off {
    display: none;
    visibility: hidden;
}
.putio .progress {
    margin: 15px 0 0 0;
}
.table-fs thead{
    font-size: 90%;
}
.table-fs tbody{
    font-size: 85%;
}
    .table-fs tbody td {
        padding: 6px 2px;
    }
    .table-fs .unfinished {
    text-decoration: line-through;

}
    .table-fs .table-fs-filename code {
        white-space: normal;
    }
        .table-fs .table-fs-filename code.alt {
            padding: 1px 3px;
            border-radius: 2px;
            background-color: #F7F7F7;
            color: #6B6869;
            font-size: 80%;
        }
    .table-fs .table-fs-mimetype{
        color: #BBB;
        font-size: 80%;
    }
    .table-fs .table-fs-size {
        color: #888;
        font-weight: bold;
        font-size: 90%;
    }
    .table-fs .table-fs-remove {
        padding-right: 0;
        padding-left: 0;
    }
        .table-fs .table-fs-remove a {
            display: block;
            width: 22px;
            height: 22px;

            border-radius: 2px;
            color: #D9534F;
            vertical-align: top;
            text-align: center;
            font-weight: normal;
            font-size: 12px;
            line-height: 23px;
            cursor: pointer;
}
        .table-fs .table-fs-remove a:hover,
        .table-fs .table-fs-remove a:focus,
        .table-fs .table-fs-remove a:active {
            background-color: #D9534F;
            color: #FFF;
            text-decoration: none;
        }


/*==========  SETUP  ==========*/
body.setup {
    color: #666;
    font-size: 13px;
}

.setup h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.setup .alert-error a {
    color: inherit;
    font-weight: bold;
}

.setup h2 {
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px solid #777;
    background-color: #EEE;
    color: #777;
    font-size: inherit;
    line-height: inherit;
}

.setup .intro {
    padding: 0 10px;
    font-style: italic;
    font-size: 85%;
    line-height: 150%;
}

.setup .form-horizontal .control-label {
    font-size: 13px;
}
    .setup .controls .help-block {
        margin: 3px 0;
        line-height: 110%;
    }
    .setup label.checkbox {
        font-weight: normal;
    }
    .setup label .help-block {
        font-weight: normal;
        font-style: italic;
    }
    .setup .controls .help-exclam {
        color: #b94a48;
    }

    .setup .controls hr {
        margin: -8px 0 10px 0;
    }

    .setup .remote_addr {
        cursor: pointer;
    }

/*==========  Subtitles  ==========*/
.well:not(.infolder) #subs_folder { display: none; visibility: hidden; }
.well.infolder #subs_list { display: none; visibility: hidden; }


/*==========  Max width 767px  ==========*/
@media (max-width: 767px) {
    body {
        padding: 0;
    }

    .navbar-brand {
        display: inline-block;
    }
    .navbar .nav {
        margin: 0;
    }
        .navbar .nav > li {
            display: inline-block;
        }
    h2 small {
        display: block;
        margin: -3px 0 5px;
        line-height: 120%;
        display: none;
        visibility: hidden;
    }
    .control-group:first-of-type {
        margin-bottom: 15px;
    }

    #files_list span {
   -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline;
        word-wrap: normal;
        max-width: 85%;
        vertical-align: middle;
        margin-left: 3%;
    }

    [class*="col-span-"], [class*="col-small-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

